body{
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #7c7c7c;
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
  margin: 0;
  margin-left: 30px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
 
  color: #7c7c7c;
  font-size: 24px;
  font-size: 16px;
  line-height: 1;
  height: 19;
  font-weight: 400;
  list-style: none;
  margin-left: 30px;
}

.search-bar {
  margin-top: 20px;
  text-align: center;
}



.card-title {
  text-align: center;
  font-size: 12px;
 
  font-weight: light;
  margin-bottom: 0;
}

.card-text {
  text-align: center;
  font-size: 12px;
 
}

.row {
  left: 50px;
}
img.displayed {
  display: flex;
  margin-right: 20px;
  margin-left: auto;
  margin-bottom: 0;
}

.card {
  border: transparent;
}
.col-sm-2 {
  margin-top: 30px;
}
.weather-up {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 670px;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 58px;
  margin-top:2px;
  line-height: 1;
}
.weather-temperature.units {
  position: relative;
  font-size: 16px;
  top: -28px;
  color: #7c7c7c;
}

a {
  text-decoration: none;
  color: black;
  cursor:default
}
a:hover{
  text-decoration:none;
  color:#7c7c7c;
  font-size:20px;
}
.open{
color:blue;}

.weather-image {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  margin-left: 20px;
  
}


.city-row li {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 20px;
  color: rgb(34, 34, 134);
  transition: color 100ms ease-in;
}
.city-row li:hover {
  color: #6fbcfb;
  cursor: pointer;
}
.open-source {
  text-align: center;
  font-size: 12px;
}
